// Brand colors
$brand-teal: #1f93a0;
$brand-rich-black: #010b13;
$brand-white: #fff;

// Background colors
$bg-anti-flash-white: #f1f5f6;
$bg-light-teal: #7fc7c3;
$bg-black-100: #e0e1e4;
$bg-black-300: #aaaeb2;
$bg-black-600: #7e8286;

// State colors
$state-info: #639ef0;
$state-success: #87a376;
$state-warning: #e7bb5b;
$state-error: #ff5959;

// Breakdown colors
$breakdown-fats: #639ef0;
$breakdown-protein: #12ccbf;
$breakdown-carbs: #9e6be3;

// Loyalty colors
$loyalty-header: #03797c;
$loyalty-header-dark: #0b3161;
$loyalty-coming-soon: #ffae00;
$loyalty-icon-bg: #e9f6f8;
$loyalty-points-paragraphs: #5f6b7e;
$loyalty-partners-pill-bg: #e4e8ec;
